/* 공통 */
.font-weight-bold { font-weight: 700!important; }
.h6, h6 { font-size: 1rem; }
.shadow { box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important; }
.responsive { display: block; width: 100%; overflow-x: auto; -webkit-overflow-scrolling: touch; }
.text-primary { color: #4e73df!important; }

/* 콘텐츠 영역 전체 */
main.main.users.chart-page { margin: 20px 40px 80px 40px; width: 85%; }

/* 페이지 타이틀 */
h1.page-title { font-size: 25px; color: #76a4e9; font-family: sans-serif; margin-bottom: 20px; }

/* 콘텐츠 카드 영역 */
.card { position: relative; display: flex; flex-direction: column; min-width: 0; word-wrap: break-word; background-color: #fff; background-clip: border-box; border: 1px solid #e3e6f0; border-radius: 0.35rem; }
.card-header { padding: 0.75rem 1.25rem; margin-bottom: 0; background-color: #f8f9fc;  border-bottom: 1px solid #e3e6f0; }
.card-body { flex: 1 1 auto; min-height: 1px; padding: 1.25rem; }

/* 테이블 */
table.table { border-collapse: separate; border-spacing: 1px; text-align: center; line-height: 1.5; position: relative; width: 100%; }
table.table th { padding: 10px; font-weight: bold; vertical-align: top; color: #fff; background: #76a4e9 ; }
table.table td { padding: 10px; border-bottom: 1px solid #ccc; }
table.table tbody > tr { background: #eee; }
table.hover tbody > tr:hover { background: #ddd; }

